<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
    <!-- Your head content -->
</head>
<body>
    <a href="index.html" class="logo"><img src="{{ url_for('static', filename='img/logodo.svg') }}" alt="logo" /></a>
     
    <div id="dataContainer">
        <div class="container">
    <div class="font_compare">Comparison Results</div>
            {% for i in range(urls|length) %}
                <div class="box">
                    <div><strong>Price:</strong> {{ prices[i] }}</div>
                    <a href="{{ urls[i] }}" class="button" target="_blank">Go to URL</a>
                </div>
            {% endfor %}
        </div>
    </div>

 <div id="loader" class="loader"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('loader').style.display = 'block';

            fetch('/compare')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('loader').style.display = 'none';

                    if (data.error) {
                        console.error('Error fetching data:', data.error);
                    } else {
                        console.log('Data received:', data);
                    }
                })
                .catch(error => {
                    document.getElementById('loader').style.display = 'none';
                    console.error('Error fetching data:', error);
                });
        });
    </script>
</body>
</html>
